[Unit]
Description=Runs wall following gr-robotics file
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/python3 /home/pi/gr-robotics/examples/wall_follow.py 

[Install]
WantedBy=multi-user.target